<h2><%= @author.name %>！ <i><%= @comment.name %></i> Notififer! </h2>

<% post = post_url(host: APP_CONFIG['host'], id: @comment.post.id) %>
<div>comments： <%= link_to @comment.post.title, post + "#comment-#{@comment.id}" %>
<div>tag：<%= @comment.content %></div>
