<h2><%= @comment.name %>， <i><%= @current_comment.name %></i> Comments </h2>

<% post = post_url(host: APP_CONFIG['host'], id: @current_comment.post.id) %>
<div>comments： <%= link_to @comment.post.title, post + "#comment-#{@current_comment.id}" %>
<div>tag：<%= @current_comment.content %></div>
